.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000; /* Bordure d'épaisseur 1px en noir */
  padding: 10px; /* Espace intérieur autour du texte */
}
